@tailwind base;
@tailwind components;
@tailwind utilities;
.header_ul li {
    margin: 0 50px;
}

.header_ul li a {
    color: white;
}

.header_ul li:hover a {
    color: rgb(32, 139, 32);
}

@media screen and (max-width: 768px) {
    .header_ul li {
        margin: 0 30px;
    }
}

@media screen and (max-width: 576px) {
    .header_ul li {
        margin: 0 25px;
    }
}

@media screen and (max-width: 411px) {}